.dropdown-menu {
    left: -180px !important;
}

.cart-product {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    z-index: 10; 
    margin-bottom: 5px;
    background-color: white;
    color: rgb(29, 112, 190);
    .cart-product-picture{
        width: 80px;
    }
    .cart-product-title-price {
        box-sizing: border-box;
        width: 170px;
        padding-left: 10px;
        display: flex;
        justify-content: start;
        align-content: center;
        flex-wrap: wrap;
    }
    .cart-product-title, .cart-product-price, .cart-product-quantity{
        width: 100%;
        margin: 0;
    }
    .cart-product-delete {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}